<!-- Jumbotron -->

<div
  class="card card-image"
  style="
    height: 100%;
    width: 100%;
    background-image: url(https://www.nationalgeographic.com/content/dam/news/2015/10/21/touristsandanimals/1touristsandanimals.ngsversion.1458225016974.adapt.1900.1.jpg);
  "
>
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->

      <h2 class="card-title h2 my-4 py-2">Endangered Species</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">
        An endangered species is a species that is very likely to become extinct
        in the near future, either worldwide or in a particular political
        jurisdiction.
      </p>
    </div>
  </div>
</div>
<br /><br />
<!-- Jumbotron -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://c402277.ssl.cf1.rackcdn.com/photos/4836/images/hero_full/Asian_elephant_Kuiburi_Thailand.jpg?1376076815"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Asian Elephants</h4>
          <!--Text-->
          <p class="card-text">
            The Asian elephant, also known as the Asiatic elephant, is the only
            living species of the genus Elephas and is distributed throughout
            the Indian subcontinent and Southeast Asia, from India in the west,
            Nepal in the north, Sumatra in the south, and to Borneo in the east.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://c402277.ssl.cf1.rackcdn.com/photos/1341/images/hero_full/snow-leopard-test.jpg?1345592123"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Wild Snow Leopard</h4>
          <!--Text-->
          <p class="card-text">
            The snow leopard, also known as the ounce, is a large cat native to
            the mountain ranges of Central and South Asia. It is listed as
            Vulnerable on the IUCN Red List because the global population is
            estimated to number less than 10,000 mature individuals and is
            expected to decline about 10% by 2040.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://bigcatsindia.com/wp-content/uploads/2018/06/Royal-Bengal-Tiger-1280x720.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Bengal Tiger</h4>
          <!--Text-->
          <p class="card-text">
            The Bengal tiger is a tiger from a specific population of the
            Panthera tigris tigris subspecies that is native to the Indian
            subcontinent. It is threatened by poaching, loss, and fragmentation
            of habitat, and was estimated at comprising fewer than 2,500 wild
            individuals by 2011.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://c402277.ssl.cf1.rackcdn.com/photos/18354/images/hero_full/Black_Rhino_WW1106963.jpg?1576697206"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Black Rhino</h4>
          <!--Text-->
          <p class="card-text">
            The black rhinoceros or hook-lipped rhinoceros is a species of
            rhinoceros, native to eastern and southern Africa including Angola,
            Botswana, Kenya, Malawi, Mozambique, Namibia, South Africa,
            Eswatini, Tanzania, Zambia, and Zimbabwe. Although the rhinoceros is
            referred to as black, its colours vary from brown to grey.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>
<br /><br />
<!-- Default form login -->

<!-- Default form login -->
<br /><br />
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">
  <div style="background-color: #21d156">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Be an everyday hero, stop animal abuse.</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">
          Wildlife Management System
        </h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          Wildlife Management System made with Angular JS, JQuery, Bootstrap.
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          <a class="dark-grey-text" href="#!">Tourism</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Statistics</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">National Parks</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p><i class="fas fa-home mr-3"></i> India</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">
    © 2020 Copyright:
    <a class="dark-grey-text" href="#"> WMS</a>
  </div>
  <!-- Copyright -->
</footer>
