<!-- Jumbotron -->

<div
  class="card card-image"
  style="
    height: 100%;
    width: 100%;
    background-image: url(https://www.nationalgeographic.com/content/dam/news/2015/10/21/touristsandanimals/1touristsandanimals.ngsversion.1458225016974.adapt.1900.1.jpg);
  "
>
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->

      <h2 class="card-title h2 my-4 py-2">Endemic Species</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">
        Endemic species are plants and animals that exist only in one geographic
        region. Species can be endemic to large or small areas of the earth:
        some are endemic to a particular continent, some to part of a continent,
        and others to a single island.
      </p>
    </div>
  </div>
</div>
<br /><br />
<!-- Jumbotron -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://www.cepf.net/sites/default/files/lion-tailed-macaque.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Lion Tailed Macaque</h4>
          <!--Text-->
          <p class="card-text">
            The Lion-tailed Macaque is one of 16 Macaques species, which have an
            extensive home range stretching from Gibraltar to Japan. However,
            this particular primate is confined to tiny, isolated pockets of
            evergreen tropical forest in the Western Ghat Mountains in India.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://www.loveanimals.co.in/images/story_images/preview_13.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Nilgiri Tahr</h4>
          <!--Text-->
          <p class="card-text">
            The Nilgiri tahr is an ungulate that is endemic to the Nilgiri Hills
            and the southern portion of the Western & Eastern Ghats in the
            states of Tamil Nadu and Kerala in Southern India. It is the state
            animal of Tamil Nadu.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://media-cdn.tripadvisor.com/media/photo-s/15/00/3e/d4/orange-breasted-sunbird.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Orange Breasted Sunbird</h4>
          <!--Text-->
          <p class="card-text">
            The orange-breasted sunbird is the only member of the bird genus
            Anthobaphes; however, it is sometimes placed in the genus
            Nectarinia. This sunbird is endemic to the fynbos habitat of
            southwestern South Africa.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://www.reptarium.cz/content/photo_rd_09/Ahaetulla-perroteti-03000039441_01.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Ahaetulla Perroteti</h4>
          <!--Text-->
          <p class="card-text">
            Ahaetulla perroteti, known commonly as the bronze-headed vine snake,
            Perrotet's vine snake, or the Western Ghats bronzeback, is a species
            of mildly venomous, rear-fanged snake in the family Colubridae. The
            species is endemic to the Western Ghats in South India.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>
<br /><br />
<!-- Default form login -->

<!-- Default form login -->
<br /><br />
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">
  <div style="background-color: #21d156">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Be an everyday hero, stop animal abuse.</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">
          Wildlife Management System
        </h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          Wildlife Management System made with Angular JS, JQuery, Bootstrap.
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          <a class="dark-grey-text" href="#!">Tourism</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Statistics</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">National Parks</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p><i class="fas fa-home mr-3"></i> India</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">
    © 2020 Copyright:
    <a class="dark-grey-text" href="#"> WMS</a>
  </div>
  <!-- Copyright -->
</footer>
