<!-- Jumbotron -->

<div
  class="card card-image"
  style="
    height: 100%;
    width: 100%;
    background-image: url(https://www.nationalgeographic.com/content/dam/news/2015/10/21/touristsandanimals/1touristsandanimals.ngsversion.1458225016974.adapt.1900.1.jpg);
  "
>
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->

      <h2 class="card-title h2 my-4 py-2">Extinct Species</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">
        Extinctions happen when a species dies out from cataclysmic events,
        evolutionary problems, or human interference and thus they become
        extinct species.
      </p>
    </div>
  </div>
</div>
<br /><br />
<!-- Jumbotron -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://www.history.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_768/MTU3OTIzNTc4ODAwNTE0NzA2/the-revival-of-the-passenger-pigeons-featured-photo.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Passenger pigeon</h4>
          <!--Text-->
          <p class="card-text">
            The passenger pigeon or wild pigeon is an extinct species of pigeon
            that was endemic to North America. Its common name is derived from
            the French word passager, meaning "passing by", due to the migratory
            habits of the species. The scientific name also refers to its
            migratory characteristics
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://images.csmonitor.com/csm/2015/10/938806_1_ibex_standard.jpg?alias=standard_900x600nc"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Pyrenean ibex</h4>
          <!--Text-->
          <p class="card-text">
            The Pyrenean ibex, Aragonese and Spanish common name bucardo,
            Catalan common name herc and French common name bouquetin was one of
            the four subspecies of the Iberian ibex or Iberian wild goat, a
            species endemic to the Pyrenees.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://c.files.bbci.co.uk/10CE3/production/_111753886_najin_fencedoff_gettyimages-1163345273.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Northern white rhinoceros</h4>
          <!--Text-->
          <p class="card-text">
            The northern white rhinoceros, or northern square-lipped rhinoceros,
            is one of two subspecies of the white rhinoceros. Formerly found in
            several countries in East and Central Africa south of the Sahara,
            this subspecies is a grazer in grasslands and savanna woodlands.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://i1.wp.com/greendiary.com/wp-content/uploads/2018/10/Golden-Toad.jpg?fit=800%2C534&ssl=1&resize=1280%2C720"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Golden Toad</h4>
          <!--Text-->
          <p class="card-text">
            The golden toad is an extinct species of true toad that was once
            abundant in a small, high-altitude region of about 4 square
            kilometres in an area north of the city of Monteverde, Costa Rica.
            It was endemic to elfin cloud forest.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>
<br /><br />
<!-- Default form login -->

<!-- Default form login -->
<br /><br />
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">
  <div style="background-color: #21d156">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Be an everyday hero, stop animal abuse.</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">
          Wildlife Management System
        </h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          Wildlife Management System made with Angular JS, JQuery, Bootstrap.
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          <a class="dark-grey-text" href="#!">Tourism</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Statistics</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">National Parks</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p><i class="fas fa-home mr-3"></i> India</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">
    © 2020 Copyright:
    <a class="dark-grey-text" href="#"> WMS</a>
  </div>
  <!-- Copyright -->
</footer>
