<!-- Jumbotron -->
<div
  class="card card-image"
  style="
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1558785314-659205dc1a3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  "
>
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->

      <h2 class="card-title h2 my-4 py-2">
        Protecting the Wildlife is the primal task of ours
      </h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Let's save the Wildlife together</p>
    </div>
  </div>
</div>
<br /><br />
<!-- Jumbotron -->
<div class="container">
  <div class="card card-cascade wider reverse">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1459262838948-3e2de6c1ec80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Title -->
      <h4 class="card-title"><strong>A sleeping Koala</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">Mosman, Australia</h6>
      <!-- Text -->
      <p class="card-text">
        The koala is an iconic Australian animal. Often called the koala “bear,”
        this tree-climbing animal is a marsupial—a mammal with a pouch for the
        development of offspring. Though koalas look fuzzy, their hair is more
        like the coarse wool of a sheep. They have two opposing thumbs on their
        hands, and both their feet and hands have rough pads and claws to grab
        onto branches. They have two toes, fused together, on their feet, which
        they use to comb their fur.
      </p>
      <a
        href="https://wa.me/?text=The%20Iconic%20Koala%20https://wildlifems.netlify.app/"
        class="px-2 fa-lg tw-ic"
        ><i class="fab fa-whatsapp"></i
      ></a>
    </div>
  </div>
  <br /><br />
  <div class="card card-cascade wider reverse">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1535342928087-299088a78600?ixlib=rb-1.2.1&auto=format&fit=crop&w=1450&q=80"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Title -->
      <h4 class="card-title"><strong>Lilac-breasted roller</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">
        Lewa Wildlife Conservancy, Isiolo, Kenya
      </h6>
      <!-- Text -->
      <p class="card-text">
        A chunky, large-headed bird with a lilac breast, rusty cheeks, and
        spring-green crown. Singles and pairs sit on prominent perches in open
        woodland and lightly-treed grasslands. It has an amazing display flight
        which includes side-to-side rolling, which gives rollers their name.
        Mostly quiet, but sometimes calls a loud guttural “gwhaaak, gwhaaak”.
        European Roller is chunkier, has a blue breast and face, and has a
        shorter, square-tipped tail.
      </p>
      <a
        href="https://wa.me/?text=Lilac%20breasted%20roller%20https://wildlifems.netlify.app/"
        class="px-2 fa-lg tw-ic"
        ><i class="fab fa-whatsapp"></i
      ></a>
    </div>
  </div>
  <br /><br />
  <div class="card card-cascade wider reverse">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1517219432213-c85cb2fbd7f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Title -->
      <h4 class="card-title"><strong>Calluna vulgaris</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">
        Priedaine, Jūrmala, Latvia
      </h6>
      <!-- Text -->
      <p class="card-text">
        Calluna vulgaris is an evergreen Shrub growing to 0.6 m (2ft) by 0.5 m
        (1ft 8in). It is hardy to zone (UK) 4. It is in leaf all year, in flower
        from July to October, and the seeds ripen from October to November. The
        species is hermaphrodite (has both male and female organs) and is
        pollinated by Bees, flies, Lepidoptera (Moths & Butterflies), wind. It
        is noted for attracting wildlife. Suitable for: light (sandy) and medium
        (loamy) soils and can grow in nutritionally poor soil. Suitable pH: acid
        soils and can grow in very acid soils. It can grow in semi-shade (light
        woodland) or no shade. It prefers dry or moist soil. The plant can
        tolerate maritime exposure.
      </p>
      <a
        href="https://wa.me/?text=Calluna%20Vulgaris%20https://wildlifems.netlify.app/"
        class="px-2 fa-lg tw-ic"
        ><i class="fab fa-whatsapp"></i
      ></a>
    </div>
  </div>
  <!-- Card -->
</div>
<br /><br />
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">
  <div style="background-color: #21d156">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Be an everyday hero, stop animal abuse.</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">
          Wildlife Management System
        </h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          Wildlife Management System made with Angular JS, JQuery, Bootstrap.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          <a class="dark-grey-text" href="#!">Tourism</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Statistics</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">National Parks</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p><i class="fas fa-home mr-3"></i> India</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">
    © 2020 Copyright:
    <a class="dark-grey-text" href="#"> WMS</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
