<!-- Jumbotron -->

<div
  class="card card-image"
  style="
    height: 100%;
    width: 100%;
    background-image: url(https://www.nationalgeographic.com/content/dam/news/2015/10/21/touristsandanimals/1touristsandanimals.ngsversion.1458225016974.adapt.1900.1.jpg);
  "
>
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->

      <h2 class="card-title h2 my-4 py-2">Rare Species</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">
        Rare species are species with small populations. Many move into the
        endangered or vulnerable category if the negative factors affecting them
        continue to operate.
      </p>
    </div>
  </div>
</div>
<br /><br />
<!-- Jumbotron -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://media.npr.org/assets/img/2019/11/15/giant-panda-bei-bei-20180608-051skipbrown-_wide-5621060ac353db3650a31d9b8cb078bbbfccd9e5-s800-c85.png"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Giant Panda</h4>
          <!--Text-->
          <p class="card-text">
            The giant panda, also known as the panda bear or simply the panda,
            is a bear native to south central China. It is characterised by
            large, black patches around its eyes, over the ears, and across its
            round body. Pandas live mainly in temperate forests high in the
            mountains of southwest China, where they subsist almost entirely on
            bamboo.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://blogs.scientificamerican.com/media/inline/blog/Image/camel(1).jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Wild Bactrian Camel</h4>
          <!--Text-->
          <p class="card-text">
            The wild Bactrian camel is a critically endangered species of camel
            living in parts of northern China and southern Mongolia. It is
            closely related to the Bactrian camel. Both are large, double-humped
            even-toed ungulates native to the steppes of central Asia
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://i.inews.co.uk/content/uploads/2020/08/PRI_161007931-640x360.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Gobi Bear</h4>
          <!--Text-->
          <p class="card-text">
            The Gobi bear that is found in the Gobi Desert of Mongolia. It is
            listed as critically endangered by the Mongolian Redbook of
            Endangered Species and by the Zoological Society of London.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://flkeyskayak.com/wp-content/uploads/2017/10/Key_Tree_Cactus_fruit.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Key tree-cactus</h4>
          <!--Text-->
          <p class="card-text">
            Pilosocereus robinii is a species of cactus known by the common name
            Key tree-cactus. It is native to the Florida Keys in the United
            States. It also occurs in Western Cuba and the Northern Bahamas. It
            has been erroneously reported from Puerto Rico, the Virgin Islands,
            and Mexico.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>
<br /><br />
<!-- Default form login -->

<!-- Default form login -->
<br /><br />
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">
  <div style="background-color: #21d156">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Be an everyday hero, stop animal abuse.</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">
          Wildlife Management System
        </h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          Wildlife Management System made with Angular JS, JQuery, Bootstrap.
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          <a class="dark-grey-text" href="#!">Tourism</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Statistics</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">National Parks</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p><i class="fas fa-home mr-3"></i> India</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">
    © 2020 Copyright:
    <a class="dark-grey-text" href="#"> WMS</a>
  </div>
  <!-- Copyright -->
</footer>
